/* Jost font import */
@font-face {
  font-family: "Jost-Light";
  src: url("@assets/fonts/jost/Jost-Light.ttf");
}

@font-face {
  font-family: "Jost-Medium";
  src: url("@assets/fonts/jost/Jost-Medium.ttf");
}

@font-face {
  font-family: "Jost-MediumItalic";
  src: url("@assets/fonts/jost/Jost-MediumItalic.ttf");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("@assets/fonts/jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost-SemiBold";
  src: url("@assets/fonts/jost/Jost-SemiBold.ttf");
}

@font-face {
  font-family: "PlusJakarta";
  src: url("@assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoMono";
  src: url("@assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrop";
  src: url("@assets/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manuskript";
  src: url("@assets/fonts/ManuskriptAntiquaD.ttf");
}

@font-face {
  font-family: "Windlass";
  src: url("@assets/fonts/WindlassExtended.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("@assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "BrushTip";
  src: url("@assets/fonts/brushTipTexe.ttf");
}
