/* Jost font import */
@font-face {
  font-family: "Jost-Light";
  src: url("@assets/fonts/jost/Jost-Light.ttf");
}

@font-face {
  font-family: "Jost-Medium";
  src: url("@assets/fonts/jost/Jost-Medium.ttf");
}

@font-face {
  font-family: "Jost-MediumItalic";
  src: url("@assets/fonts/jost/Jost-MediumItalic.ttf");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("@assets/fonts/jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost-SemiBold";
  src: url("@assets/fonts/jost/Jost-SemiBold.ttf");
}

@font-face {
  font-family: "PlusJakarta";
  src: url("@assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoMono";
  src: url("@assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrop";
  src: url("@assets/fonts/Manrope-VariableFont_wght.ttf");
}
