@font-face {
  font-family: "Manuskript";
  src: url("@/assets/fonts/ManuskriptAntiquaD.ttf");
}

@font-face {
  font-family: "Windlass";
  src: url("@/assets/fonts/WindlassExtended.ttf");
}

@font-face {
  font-family: "BrushTip";
  src: url("@/assets/fonts/brushTipTexe.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("@/assets/fonts/JetBrainsMono.ttf");
}