* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.390, 0.575, 0.000, 1.005); /* custom */
  transition-timing-function: cubic-bezier(0.390, 0.575, 0.000, 1.005); /* custom */
  font-family: Windlass, sans-serif;
  font-weight: 400;

  scrollbar-color: var(--primary) rgba(50, 212, 153, 0.10);
  scrollbar-width: thin;
  color: var(--primary-text);
  user-select: none;
}

body {
  --primary: #32D499;
  --primary-text: #FFF;
  --secondary-text: #B3B3B3;
  --primary-background: radial-gradient(205.44% 98.15% at 50% 50%, #171A21 0%, #0A0C10 100%), #171A21;
  --primary-background-static: #171A21;
  --primary-border: #E8E8E8;
  --secondary-background: #222631;
  --important: #D43232;
  --warning: #FFBE5C;
  --information: #32D499;
}

html, body {
  background: var(--primary-background);
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: auto;
}

#app {
  background: var(--primary-background);
  height: calc(100%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: var(--primary-background);
}

::-webkit-scrollbar-thumb {
  background: #4ba7de;
}

.v-enter-active,
.v-leave-active {
  transition: 0.1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
